* {
    margin: 0;
    font-family: 'Courier Prime', monospace;  }
a {
    cursor: pointer;
    text-decoration: none;
    color: #FEFEFE;

}
.animation {
  opacity: 0;
  overflow: hidden;
  border-right: 0.15em solid #2e6280;
  white-space: nowrap;
  position: relative;
}

.animation.visible {
  opacity: 1;
  animation: typing 4s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #2e6280; }
}
.fade-in {
    flex: 1;
  opacity:0;
  transform: translateY(5px) scale(0.4);
  transition: opacity 0.2s, transform 0.2s;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}
a:visited {
  color: #FEFEFE;
  ;
}
.github{
  color: black;
}
.github:visited{
  color: black;
}
  .logo {

    width: 50%;
  }
.logo__img {
    height: 100%;
}
  .nav {
    background-color: #1B87C7;
    height: 80px;
  }
  .nav__route{
    display: flex;
    height: 100%;
  }
  .nav__route--list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
  }
  .nav__route--list ul {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .nav__route--list li {
    padding: 0px 40px;
    color: #FEFEFE;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    cursor: pointer;

  }
  .nav__route--list li:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #FEFEFE; /* Couleur du soulignement */
    animation: underline 0.2s forwards;
  }

  @keyframes underline {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .presentation__text h1,
  .presentation__text p {
    margin: 40px 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
  }
.presentation {
    display: flex;
    align-items: center;
    margin: 30px;

}
span {
    font-weight: 700;
}
.presentation__text {
    width: 50%;
    color: #2e6280;

}
.presentation__img {
    width: 50%;
}
.presentation__img img {
    width: 100%;
}
.projet {
    background-color: #1B87C7;
}
.projet__text {
  padding: 40px 20px 0px;
    font-size: 30px;
    color: #FEFEFE;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.projet__img {
    padding: 20px;
    background-color: 	#DCDCDC;
}
.projet__img img{
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
}
.projet__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.projet__detail h2 {
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size:18px;
  padding: 10px 0px;
}
.projet__detail, .former__detail, li{
  list-style-type: none;
  font-size: 20px;
} 
.projet__detail ul {
  padding:0;
}
.projet__detail li {
  font-size: 14px;
}
.projet__detail--skills, .former__detail--skills {
  padding-bottom: 20px;
  text-decoration: underline
  ;
}
.projet__detail--logo{
    width: 20%;
}
.projet__detail--logo img {
    width: 100%;
}
.projet__flex{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  margin: 29px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 

}
.projet__contenair {
  display:flex;
  padding: 10px;
  height: 100%;
}
.former {
  padding: 35px;
}
.former__contenair {
  width: 50%;
  height: 300px;
  background-color: #1B87C7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 

}
.former h1{
  color: #1B87C7;
  padding-bottom: 30px;
  font-weight: 400;
    text-align: center;
    font-size: 30px;
}
.former__flex{
  display: flex;
  gap: 20px;
}
.former__img {
  width: 50%;
}
.former__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 

}

.former__detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 20px;
  color: #FEFEFE;
}
.parcours {
  padding: 40px;
  color: #2e6280;
}
.parcours__title {
  text-align: center;
  padding-bottom: 35px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
}
.parcours__list {
  padding: 20px;
  font-size: 20px;
}
.parcours__devise {
  font-size: 32px;
  font-style: italic;
  padding: 30px;
  text-align: center;
}
.parcours__formation {
  padding-bottom: 20px;
  font-size: 20px;
}
.parcours__competences {
  font-size: 20px;
    text-decoration: underline;
}
.contact {
  background-color: #1B87C7;  
  padding: 150px;
  color: #FEFEFE;
}
.contact__title {
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contact__information {
  font-size: 20px;
    font-style: italic;
    padding: 30px;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 1024px){
  .presentation__text h1,
  .presentation__text p {
    margin: 40px 40px;
  }
} 
@media screen and (max-width: 768px) {
  .presentation {
    flex-direction: column-reverse;

  }
  .portfolio {
    padding: 20px;
  }
  .projet__contenair{
    flex-direction: column-reverse;
  }
  .projet__flex{
    width: auto;
  }
  .presentation__img, .presentation__text {
    width: auto;
  }
  .nav__route--list {
      justify-content: center;
      width: 100%;
  }

  .nav__route--list.active {

  }

  .nav__route--list ul {
    font-size: 15px;
  }
  .logo{
    visibility: hidden;
    width: 0%;
  }
  .nav__route--list li {
    padding: 20px;
    margin-right: 0px;

  }

  .contact{
    padding: 20px;
  }
}