* {
    margin: 0;
    font-family: 'Courier Prime', monospace;  }
  
  .logo {

    width: 50%;
  }
.logo__img {
    height: 100%;
}
  .nav {
    background-color: #1B87C7;
    height: 80px;
  }
  .nav__route{
    display: flex;
    height: 100%;
  }
  .nav__route--list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
  }
  .nav__route--list ul {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  }
  .nav__route--list li {
    transition: all 300ms ease-in-out;
    padding: 0px 40px;
    color: #FEFEFE;
  }
  .presentation__text h1,
  .presentation__text p {
    margin: 40px 140px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
  }
.presentation {
    display: flex;
    align-items: center;

}
span {
    font-weight: 700;
}
.presentation__text {
    width: 50%;
    color: #1B87C7;

}
.presentation__img {
    width: 50%;
}
.presentation__img img {
    width: 100%;
}
.projet {
    background-color: #1B87C7;
}
.projet__text {
    padding: 30px;
    font-size: 30px;
    color: #FEFEFE;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.projet__img {
    width: 50%;
    padding: 20px;
}
.projet__img img{
    margin: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 4.1); 
}
.projet__detail {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FEFEFE;
}
.projet__detail h2 {
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size:30px;
}
.projet__detail li{
  list-style-type: none;
  font-size: 20;
} 
.projet__detail ul {
  padding:0;
}
.projet__detail--skills {
  padding-bottom: 20px;
}
.projet__detail--logo{
    width: 20%;
}
.projet__detail--logo img {
    width: 100%;
}
.projet__flex{
    display: flex;
}